body {
    background-image: url("images/img_james_bond.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: red;
    text-shadow: 1px 1px 1px gray;
    background-color: black;
    margin: 0px;
}
#error_image {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}
h1 {
    padding: 15px;
    opacity: 0.6;
    background-color: #cccccc;
}
#event_button {
    margin-top: 20px;
    position: relative;
    left: 50px;
    background-color: #cc0000;
    border: 2px solid #cc0000;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
#event_button:link, #event_button:visited {
    color: white;
}
#event_button:hover {
    background-color: #990000;
    border-color: #990000;
}
#custom_error_message {
    color: yellow;
}
/*#full_body{
  background-image: url("/images/james_bond_error.gif");
  background-size: 100%;
}*/

#foot {
    margin-top: 100px;
    color: white;
    float: left;
    bottom: 5px;
}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 25%;
    border-collapse: collapse;
}
th, tfoot {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #7a7a7a;
    color: #ffffff;
}
td, th {
    font-size: 1em;
    border: 1px solid #ffffff;
    padding: 3px 7px 2px 7px;
    border-collapse: collapse;
}
td {
    text-align: center;
}
a{
  text-shadow: none;
}
li{
  margin: 5px;
}