<h1>Welcome to TrafficSpy!</h1>

<h2>TrafficSpy is a web traffic analysis tool built on Ruby, Sinatra and ActiveRecord that allows the webpage owner to see statistics about their users.</h2>

<h3>TrafficSpy allows you to view all the aggregate data from your users, at each of your urls, such as:
  <ul>
  <li>Most Requested to Least Requested URL</li>
  <li>Web Browser Breakdown</li>
  <li>OperatingSystem breakdown</li>
  <li>User resolution breakdown, useful for device recognition</li>
  <li>A sorted URL response time</li>
  <li>Which HTTP verbs have been used</li>
  <li>Most popular url referrrers</li>
  <li>Most popular user agents</li>
  <li>A total and hour by hour breakdown of when events are recevied at your specific urls</li>
</ul></h3>

<hr color="white">

<p>You must register your root:url and user ID to start</p>
