<div id= "error_page">
<h1>4-<em>004</em> ERROR</h1>

<h3 id ="custom_error_message"><%= @message %></h3>

<img id="error_image" src="http://media.giphy.com/media/Mz6oZpw81uKQg/giphy.gif" alt="bond gif">
</div>
