<h1>Hello, Traffic Spyer</h1>

  <div id= "url_list">
    <%= erb :_sorted_urls %>
  </div>

  <div id="user_agent_list">
      <%= erb :_user_agent %>
  </div>

  <div id="resolution_list">
    <%= erb :_resolution %>
  </div>

  <div id="url_response_time_list">
    <%= erb :_url_response_time %>
  </div>
