<h1>Hello, Traffic Spyer</h1>

<p>URL</p>
<div id= "url_list">
    <h3>URL list in order of reoccurance:</h3>
    <ol>
    <% @sorted_urls.each do |identifier_url| %>
      <li><%= identifier_url %></li>
    <% end %>
    </ol>
  </div>
<img id="bond" src="http://www.bbcamerica.com/anglophenia/files/2013/02/007-Logo.jpg" alt= "James Bond Photo" width="50%">
