<h1>Hello, Traffic Spyer</h1>

<div id= "url_list">
    <h3>URL list in order of reoccurance:</h3>
    <ol>
    <% @sorted_urls.each do |identifier_url| %>
      <li><%= identifier_url %></li>
    <% end %>
    </ol>
  </div>

  <div id="user_agent_list">
      <%= erb :_user_agent %>
  </div>

  <div id="resolution_list">
    <%= erb :_resolution %>
  </div>

  <div id="url_response_time_list">
    <%= erb :_url_response_time %>
  </div>
