<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Traffic Spy</title>
</head>
<body id="full_body">
  <%= yield %>
  <footer id = "foot">
    Created by Markus, Dustin and Paul</footer>
</body>
</html>